<section class="h-[100dvh] bg-[url('/img/tv-hero.webp')] bg-cover bg-center grid place-content-center relative">
    <div class="absolute inset-0 bg-gradient-to-t from-[#00000057] to-black/75" ></div>
    <div class="relative fade-in">
        <h2 class="text-3xl sm:text-4xl lg:text-6xl text-center drop-shadow-xl font-bold">Our <span class="text-cyan-600">Tv Shows</span></h2>
        <span class="mx-auto block w-fit text-base font-medium mt-2 drop-shadow-2xl"><span class="text-cyan-600 font-semibold">Discover</span> | New Releases</span>
    </div>
</section>